@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_UserSideLayout.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">
                    @Localizer["MainText"]
                </h1>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        <a asp-action="Book"
                           class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                           data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <span>@Localizer["Start"]</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img"
                 data-aos="zoom-out"
                 data-aos-delay="200">
                <img src="~/UserSide/assets/img/hero-img.png" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
</section>
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row gx-0">
            <div class="col-lg-6 d-flex flex-column justify-content-center"
                 data-aos="fade-up"
                 data-aos-delay="200">
                <div class="content">


                    <h2>
                        @Localizer["Text1"]
                    </h2>
                    <p>
                        @Localizer["Text2"]
                    </p>
                    <div class="text-center text-lg-start">
                        <a href="#"
                           class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>@Localizer["TextBtn"]</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex align-items-center"
                 data-aos="zoom-out"
                 data-aos-delay="200">
                <img src="~/UserSide/assets/img/about.jpg" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
</section>
<section id="services">
    <section id="values" class="values">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <h2>@Localizer["Text3"]</h2>
                <p>@Localizer["Text4"]</p>
            </header>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <img src="~/UserSide/assets/img/values-1.png" class="img-fluid" alt="" />
                        <h3>@Localizer["Header1"]</h3>
                        <p>
                            @Localizer["SmallText1"]
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0"
                     data-aos="fade-up"
                     data-aos-delay="400">
                    <div class="box">
                        <img src="~/UserSide/assets/img/values-2.png" class="img-fluid" alt="" />
                        <h3>@Localizer["Header2"]</h3>
                        <p>
                            @Localizer["SmallText2"]
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0"
                     data-aos="fade-up"
                     data-aos-delay="600">
                    <div class="box">
                        <img src="~/UserSide/assets/img/values-3.png" class="img-fluid" alt="" />
                        <h3>@Localizer["Header3"]</h3>
                        <p>
                            @Localizer["SmallText3"]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
            <div class="row gy-3">
                <div class="col">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext" style="color: #ee6c20"></i>
                        <div>
                            <span data-purecounter-start="0"
                                  data-purecounter-end="18"
                                  data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>@Localizer["String1"]</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="count-box">
                        <i class="bi bi-headset" style="color: #15be56"></i>
                        <div>
                            <span data-purecounter-start="0"
                                  data-purecounter-end="24"
                                  data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>
                                @Localizer["String2"]
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="count-box">
                        <i class="bi bi-people" style="color: #bb0852"></i>
                        <div>
                            <span data-purecounter-start="0"
                                  data-purecounter-end="5"
                                  data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>
                                @Localizer["String3"]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <h2>@Localizer["Text5"]</h2>
                <p>@Localizer["Text6"]</p>
            </header>

            <div class="row">
                <div class="col-lg-6">
                    <img src="~/UserSide/assets/img/features.png" class="img-fluid" alt="" />
                </div>

                <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                    <div class="row align-self-center gy-4">
                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>@Localizer["smt1"]</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>@Localizer["smt2"]</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>@Localizer["smt3"]</h3>
                            </div>
                        </div>

                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3>@Localizer["smt4"]</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / row -->
        </div>
    </section>
</section>
<section id="team" class="team">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h2>@Localizer["Text7"]</h2>
            <p>
                @Localizer["Text8"]
            </p>
        </header>

        <div class="row gy-3 responsive">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch team-card"
                 data-aos="fade-up"
                 data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        <img class="team-img" src="~/UserSide/cadres/Johny_nobackground-01.png"
                             class="img-fluid"
                             alt="" />
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>@Localizer["Artyush"]</h4>
                        <p>
                            Velit aut quia fugit et et. Dolorum ea voluptate vel tempore
                            tenetur ipsa quae aut. Ipsum exercitationem iure minima enim
                            corporis et voluptate.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch team-card"
                 data-aos="fade-up"
                 data-aos-delay="200">
                <div class="member">
                    <div class="member-img">
                        <img class="team-img" src="~/UserSide/cadres/нукфтогрш-01-removebg-preview.png"
                             class="img-fluid"
                             alt="" />
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>@Localizer["Eran"]</h4>
                        <p>
                            Quo esse repellendus quia id. Est eum et accusantium
                            pariatur fugit nihil minima suscipit corporis. Voluptate sed
                            quas reiciendis animi neque sapiente.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch team-card"
                 data-aos="fade-up"
                 data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img class="team-img" src="~/UserSide/cadres/Sammmy-01-removebg-preview.png"
                             alt="" />
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>@Localizer["Samvel"]</h4>
                        <p>
                            Vero omnis enim consequatur. Voluptas consectetur unde qui
                            molestiae deserunt. Voluptates enim aut architecto porro
                            aspernatur molestiae modi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch team-card"
                 data-aos="fade-up"
                 data-aos-delay="300">
                <div class="member">
                    <div class="member-img">
                        <img class="team-img" src="~/UserSide/cadres/jimmy_nobackground-01.png"
                             class="img-fluid"
                             alt="" />
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>@Localizer["Davit"]</h4>
                        <p>
                            Vero omnis enim consequatur. Voluptas consectetur unde qui
                            molestiae deserunt. Voluptates enim aut architecto porro
                            aspernatur molestiae modi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch team-card"
                 data-aos="fade-up"
                 data-aos-delay="400">
                <div class="member">
                    <div class="member-img">
                        <img class="team-img" src="~/UserSide/cadres/Julie-01-removebg-preview.png"
                             class="img-fluid"
                             alt="" />
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>@Localizer["Julia"]</h4>
                        <p>
                            Rerum voluptate non adipisci animi distinctio et deserunt
                            amet voluptas. Quia aut aliquid doloremque ut possimus ipsum
                            officia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe src="https://online.fliphtml5.com/xqsoc/vrye/" style="width:100%; height:100%; min-height:800px;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="~/UserSide/assets/vendor/aos/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    AOS.init();
    $('.responsive').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 1,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
        ]
    });
</script>
<style>
    .team-img {
        max-height: 500px;
    }
</style>