@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>

<html>
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewBag.Title</title>
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/UserSide/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/UserSide/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/UserSide/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/UserSide/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/UserSide/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/UserSide/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="~/UserSide/assets/img/logo.png" />

    <!-- Template Main CSS File -->
    <link href="~/UserSide/assets/css/style.css" rel="stylesheet">
</head>
<body style="margin:0;">
    @*<img src="~/UserSide/assets/img/5092-shark.gif" id="loader"/> *@
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a asp-action="Index" asp-controller="Home" class="logo d-flex align-items-center">
                <img src="~/UserSide/assets/img/logo.png" alt="">
                <span>CSharks</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" asp-action="Index" asp-controller="Home">@Localizer["nav1"]</a></li>
                    <li><a class="nav-link scrollto" href="#about">@Localizer["nav2"]</a></li>
                    <li><a class="nav-link scrollto" href="#services">@Localizer["nav3"]</a></li>
                    <li><a class="nav-link scrollto" href="#team">@Localizer["nav4"]</a></li>
                    <li><a class="nav-link scrollto" asp-action="Index" asp-controller="News">@Localizer["nav5"]</a></li>
                    <li><a class="nav-link scrollto" href="#contact">@Localizer["nav6"]</a></li>
                    <li><a class="nav-link">@await Html.PartialAsync("~/Areas/UserSide/Views/_SelectLanguagePartial.cshtml")</a></li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a class="nav-link scrollto" asp-action="Login" asp-controller="Account" asp-area="Admin">@Localizer["nav7"]</a></li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="nav-link scrollto">
                                <span>@User.Identity.Name</span>
                                <i class="bi bi-chevron-down"></i>
                            </a>
                            <ul>
                                @if (User.IsInRole("moderator") || User.IsInRole("admin"))
                                {
                                    <li>
                                        <a asp-action="Index" asp-controller="Home" asp-area="Admin">Admin Page</a>
                                    </li>
                                }
                                <form method="post" asp-controller="Account" asp-action="Logout" asp-area="Admin">
                                    <li>
                                        <button type="submit" class="dropdown-item">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="mx-3">Log Out</span>
                                        </button>
                                    </li>
                                </form>
                            </ul>
                        </li>
                    }
                    <li><a class="getstarted scrollto" href="#about" data-bs-toggle="modal" data-bs-target="#exampleModal">@Localizer["navBtn"]</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header>
    @RenderBody()
    <footer id="footer" class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="index.html" class="logo d-flex align-items-center">
                            <img src="~/UserSide/assets/img/logo.png" alt="">
                            <span>CSharks</span>
                        </a>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>@Localizer["usefull-Links"]</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">@Localizer["nav1"]</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">@Localizer["nav2"]</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">@Localizer["nav3"]</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">@Localizer["nav4"]</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">@Localizer["nav5"]</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">@Localizer["nav6"]</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>@Localizer["String1"]</h4>
                        <p>
                            @Localizer["String2"]<br>
                            @Localizer["String3"]<br>
                            @Localizer["String4"] <br><br>
                            <strong>@Localizer["String5"]:</strong> +37499977501<br>
                            <strong>@Localizer["String6"]:</strong> info@mediaguide.com<br>
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>CSharks</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
                Developed by CSharks
            </div>
        </div>
    </footer><!-- End Footer -->
    <style>
        .nav-link {
            background-image: linear-gradient( to right, #4154f1, #4154f1 50%, #000 25% );
            background-size: 200% 100%;
            background-position: -100%;
            display: inline-bl ock;
            padding: 5px 0;
            position: relative;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;
        }

            .nav-link:before {
                content: '';
                background: #4154f1;
                display: block;
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 2px;
                transition: all 0.3s ease-in-out;
            }

            .nav-link:hover {
                background-position: 0;
            }

                .nav-link:hover::before {
                    width: 100%;
                }
    </style>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    <script src="~/UserSide/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/UserSide/assets/vendor/aos/aos.js"></script>
    <script src="~/UserSide/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/UserSide/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/UserSide/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/UserSide/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/UserSide/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/UserSide/assets/js/main.js"></script>
    @*<script>
    var myVar;

    function myFunction() {
    myVar = setTimeout(showPage, 5000);
    }

    function showPage() {
    document.getElementById("loader").style.display = "none";
    document.getElementById("myDiv").style.display = "block";
    }
    </script>*@
</body>
</html>
